$color-primary: #FFFFFF;
$color-secondary: #CAC6B1;
$color-blue: #407EC9;
$color-gray: #BDBDBD;

$nav-height: 50px;

$screen-xs: 0;
$screen-s: 768px;
$screen-m: 992px;
$screen-l: 1200px;
$screen-xl: 1400px;

$font-primary: 'Raleway', sans-serif;


@mixin set-width($map) {
    @each $screen-width, $width in $map {
        @media screen and (min-width: $screen-width) {
            width: $width;
        }
    }
}

.card {
    border-radius: 6px;
    box-shadow: 2px 3px 5px 2px $color-gray;
    display: inline-block;
}


.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    clear: both;
}