@import "../global";

.content-block {

    img {
        $image-size-map: (
            $screen-xs: 500px,
            $screen-m: 750px,
            $screen-xl: 900px
        );
        @include set-width($image-size-map);
    }
}