<!DOCTYPE html>
<html>
  <head>
    <title>Sugar Urethane</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'> 
</head>
 
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <img src="static/images/logo.png" class="brand" alt="logo" />
          <ul class="nav navbar-justified navbar-nav">
            <li><a class="link"  href="#">HOME</a></li>
            <li><a class="link"  href="#">ABOUT US</a></li>
            <li><a class="link" href="#">TEAM</a></li>
            <li><a class="link" href="#">WHERE TO BUY</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header> 

  <body>
    <section class="content-block">
      {% block content %}
      {% endblock %}
    </section>
  </body>

  <script src="/static/js/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="/static/js/custom.js"></script>
</html>